@*@model IEnumerable<PhoneBookMVC.Models.Person>

    @foreach (var item in Model)
    {
        <p>@item.Name @item.Email numer telefonu: @item.Phones.PhoneNumber</p>
    }*@

@Html.ActionLink("Książka", "Index", "People","", new { @class = "btn btn-default" })
@Html.ActionLink("Numery telefonów", "Index", "Phones", "", new { @class = "btn btn-default" })
@Html.ActionLink("Hajs", "Index", "MoneyForPersons", "", new { @class = "btn btn-default" })